{% extends "base.html" %}

{% block title %}
Auctions
{% endblock %}

{% block link %}
{% endblock %}

{% block heading %}
Auctions
<small>Today's</small>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<div class="row">
				{% for auction in auctions.today %}
				<div id="{{ auction.id }}" class="auctions">
					<input type="hidden" class="auction_time" value="{{ auction.start_time|date:'H:i' }}">
				  <div class="col-md-3">
				    <div class="box box-warning box-solid">
				      <div class="box-header with-border">
				        <h3 class="box-title">{{ auction.name }}</h3>
			        <div class="display_remaining_time box-tools pull-right">
			        </div>
				      </div>
				      <div class="box-body">
				        Startdate: {{ auction.start_date }}<br/>
				        Principal: {{ auction.principal }}<br/>
				        Months left: {{ auction.dues }}
				        <button id="{{ auction.id }}_bid_btn" class="btn btn-success btn-xs pull-right" style="display: none;">Bid Now</button>
				      </div>
				    </div>
				  </div>
			  </div>
			 	{% endfor %}
		</div>

		<div class="row">
				{% for auction in auctions.remaining %}
			  <div class="col-md-3">
			    <div class="box box-primary box-solid">
			      <div class="box-header with-border">
			        <h3 class="box-title">{{ auction.name }}</h3>
		        <div class="display_remaining_time box-tools pull-right">
		        {{ auction.next_auction|date:'d M' }}
		        </div>
			      </div>
			      <div class="box-body">
			        Startdate: {{ auction.start_date }}<br/>
			        Principal: {{ auction.principal }}<br/>
			        Months left: {{ auction.dues }}
			      </div>
			    </div>
			  </div>
			 	{% endfor %}
		</div>

		<div class="row">
				{% for auction in auctions.completed %}
				  <div class="col-md-3">
				    <div class="box box-success box-solid">
				      <div class="box-header with-border">
				        <h3 class="box-title">{{ auction.name }}</h3>
				      </div>
				      <div class="box-body">
				        Startdate: {{ auction.start_date }}<br/>
				        Principal: {{ auction.principal }}<br/>
				        Months left: {{ auction.dues }}
				      </div>
				    </div>
				  </div>
			 	{% endfor %}
		</div>

	</div>
  <div class="col-md-3">
    <div class="box box-warning box-solid">
      <div class="box-header with-border">
        <h3 class="box-title"> links </h3>
      </div>
      <div class="box-body">
        bull bull<br/>
        bukkjj skjcjs<br/>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/auction.js" type="text/javascript"></script>
{% endblock %}