{% extends "base.html" %}

{% block title %}
Create Chit Batches
{% endblock %}

{% block link %}
<link href="{{ STATIC_URL }}css/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css">

{% endblock %}

{% block heading %}
Create Chit Batches
{% endblock %}

{% block content %}

<div class="box box-default">
  <div class="box-body">
    <form id="create_chit_form" role="form" method="post">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>chit name</label>
            <input class="form-control" name="name" placeholder="name" data-error="Please give name without spaces" pattern="^([A-Z]|[a-z])+$" required>
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>principal</label>
            <input class="form-control" name="principal" placeholder="principal" data-error="Please give a proper principal amount" pattern="^([0-9]+)" required>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>period</label>
            <input class="form-control" name="address" placeholder="period" data-error="Please enter the chit's Period of time" required pattern="^([0-9]+)">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="no_members" class="form-group">
            <label>no of members</label>
            <input class="form-control" name="members_count" placeholder="no of members" data-error="Please enter the number of members" required pattern="^([0-9]+)">
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label>Start date and time</label>  
              <div class='input-group'>
                  <input id='datetimepicker1' type='text' class="form-control" placeholder="yyyy/mm/dd h:m" data-error="Please choose the chit date and time" required>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
              <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Add members to the batch</label>
            <div class='input-group date'>
              <div class='input-group date'>
                <button id="add_members_button" type="button" class="form-control btn btn-default">add members</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group" style="text-align:center">
          <button id="create_chit_submit" type="submit" class="btn btn-info">create</button>
        </div>
      </div>

    </form>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="text-align:center">
            <button id="members_table_button" type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Choose Members</h4>
          </div>
          <div class="modal-body">
                <table id="add_members" class="cell-border display">
                  <thead>
                      <tr>
                          <th class="add">add</th>
                          <th>photo</th>
                          <th>username</th>
                          <th>phone number</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for member in members %}
                      <tr>
                          <td><input class="members" id="{{ member.mid }}" type="checkbox"></td>
                          <td><img src="{{ member.photo.url }}" height="30" width="32"></td>
                          <td>{{ member.username }}</td>
                          <td>{{ member.phone_number }}</td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
          </div>
          <div class="modal-footer" style="text-align:center">
            <button type="button" class="btn btn-default">Add Members</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/jquery.datetimepicker.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/validator.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/create_chit.js"></script>
{% endblock %}
