{% extends "base.html" %}

{% block heading %}
Dashboard
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-2">
          <div class="small-box bg-primary">
            <div class="inner">
              <div class="row">
                <div class="col-md-9">
                  <p class="">New</p>
                </div>
                <input type="checkbox">
              </div>
              <p>12 jun 2015</p>
              <p>10,00,000</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}