{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
{% endblock %}

{% block heading %}
  Members
  <a href="/members/create" class="fa fa-fw fa-user-plus"></a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <table id="members_table" class="display">
          <thead>
            <tr>
                <th>id</th>
                <th>pic</th>
                <th>firstname</th>
                <th>lastname</th>
                <th>address</th>
                <th>phone number</th>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
              <tr>
                  <td>{{ member.mid }}</td>
                  <td><img src="{{ member.photo.url }}" height="30" width="32"></td>
                  <td>{{ member.firstname }}</td>
                  <td>{{ member.lastname }}</td>
                  <td>{{ member.address }}</td>
                  <td>{{ member.phone_number }}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

<script>
  $(document).ready( function () {
    $('#members_table').DataTable({
      "bLengthChange" : false,
      "columnDefs": [
       { "width": "2%", "targets": [0] }
      ],
    });
  } );
</script>
{% endblock %}